<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8"> 
	<link rel="stylesheet" type="text/css" href="css/style.css">   
	<script src="template.js"></script>
  	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script type="text/javascript" src="/raphael.js"></script>
	<script type="text/javascript" src="/json2.js"></script>
	<script type="text/javascript" src="/raphael.sketchpad.js"></script>
	<title>Mustache-ify</title> 
	 </head> 

	 <body>
	 <h3 id="title">Mustache-ify</h3>
	 <img id="topstache" src="images/a.png" width="400" height="65">
	 <nav>
	 	<ul>
	 		<li><a href="/">Home</a></li>
	 		<li><a href="/about">About</a></li>
	 		<li><a href="/random">Mustache Randomizer</a></li>
	 	</ul>
	 </nav>
	 <br>
    {{{body}}}
	</body>
</html>